{% extends "base.html" %}

{% block content %}
    <div class="container">
        <h1>Book details:</h1>
        <ul>
            <div class="form-group row">
                <h3 class="col-sm-4 col-form-label text-right">{{ book.title }}</h3>
                <div class="col-md-8">

                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-4 col-form-label text-right">Author:</label>
                <div class="col-sm-8">
                    {{ book.author }}
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-4 col-form-label text-right">Year:</label>
                <div class="col-sm-8">
                    {{ book.year }}
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-4 col-form-label text-right">ISBN:</label>
                <div class="col-sm-8">
                    {{ book.isbn }}
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-4 col-form-label text-right">Rating (avg):</label>
                <div class="col-sm-8">
                    {{ average_rating[0] }}
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-4 col-form-label text-right">Average rating from GoodReaders website:</label>
                <div class="col-sm-8">
                    {{ average_rating }}
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-4 col-form-label text-right">work ratings count from GoodReaders website:</label>
                <div class="col-sm-8">
                    {{ work_ratings_count }}
                </div>
            </div>            
        </ul>
        <br><br><br>
        <h3>Reviews: </h3>
        {% if reviews %}
            {% for review in reviews %}    
                {% if review.user_id == user_id %}
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label text-right">Sent by me</label>
                    <div class="col-sm-8">
                        <a href="{{url_for('delete_review', book_id = book.id, review_id = review[0] )}}" class="btn btn-danger btn-sm">Delete</a>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label text-right">Rating:</label>
                    <div class="col-sm-8">
                        {{ review.rating }}
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label text-right">Review:</label>
                    <div class="col-sm-8">
                        {{ review.comments }}
                    </div>
                </div>
                
                {% else %}
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label text-right">Name:</label>
                    <div class="col-sm-8">
                        {{ review.name }}
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label text-right">Rating:</label>
                    <div class="col-sm-8">
                        {{ review.rating }}
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label text-right">Comments:</label>
                    <div class="col-sm-8">
                        {{ review.comments }}
                    </div>
                </div>
                {% endif %}
            </ul>
            {% endfor %}
        {% else %}
            <p>No reviews for this book.</p>    
        {% endif %}
        <br><br>
        {% if enable_review == False %}
        <h3>Submit a review:</h3>
        <div class="row">
            <form method="POST" action="{{url_for('add_review', book_id=book.id, user_id=user_id)}}">
            <div class="rate">
                <input type="radio" id="star5" name="rating" value="5" required />
                <label for="star5" title="text">5 stars</label>
                <input type="radio" id="star4" name="rating" value="4" />
                <label for="star4" title="text">4 stars</label>
                <input type="radio" id="star3" name="rating" value="3" />
                <label for="star3" title="text">3 stars</label>
                <input type="radio" id="star2" name="rating" value="2" />
                <label for="star2" title="text">2 stars</label>
                <input type="radio" id="star1" name="rating" value="1" />
                <label for="star1" title="text">1 star</label>
            </div>
            <textarea  class="form-control" rows="3" name="comments" placeholder="Review..."></textarea>
            <br>
            <div class="buttons">
                    <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>
        </div>
        {% endif %}
{% endblock %}