{% extends "base.html" %}

{% block content %}
    <div class="container">
        <h1 class="title">Search Books:</h1>
        <form method="POST" action='/main'>
            <input class="form-control form-control-lg" type="text" name="search" placeholder="ISBN / Title / Author" autofocus="">
            <br>
            <button class="btn btn-primary btn-lg">Search</button>
        </form>
        <br><br>
        {% if books %}
        <h1 class="subtitle">Result:</h1>

            {% for book in books %}
            <div class="list-group">
                <a href="{{ url_for('books', book_id=book.id) }}" class="list-group-item list-group-item-action flex-column align-items-start">
                    <div class="d-flex w-100 justify-content-between">
                        <h2 class="mb-1">{{ book.title }}</h2>
                    </div>
                    <p class="mb-1">{{ book.author }}</p>
                </a>
            </div>
            {% endfor %}
        {% endif %}
    
        {% if message %}
            <h3>{{ message }}</h3>
        {% endif %}
    </div>
{% endblock %}